<template>
  <div class="hello">
    <div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">
      <h1>Site para ver a diferença de idade entre duas pessoas</h1>
    <hr />
    <div class="container">
      <form  class="row g-3">
        <div class="mb-3">
          <h1>Escreva o nome e idade de uma pessoa</h1>
          <div class="form-control" id="cont1">
            <input class="form-control" placeholder="Nome" v-model="name1" type="text" name="Nome1" /><br />
            <label for="age1">Data de Nascimento</label><br />
            <input v-model="idade1" type="date" name="data1" /><br />
          </div>
        </div>
        <div class="mb-3">
          <h1>Escreva o nome e idade de outra pessoa</h1>
          <div class="form-control">
            <input class="form-control" placeholder="Nome" v-model="name2" type="text" name="Nome2" /><br />
            <label for="age2">Data de Nascimento</label><br />
            <input v-model="idade2" type="date" name="data2" /><br />
          </div>
        </div>
  </form> 
</div>
    <div class="divbtn">
      <button @click="diffage" type="button" class="btn btn-primary" data-bs-toggle="button">Enviar</button>
    </div>
    <div class="list-group-item">
      <div class="rstd" v-for="(inf, index) in infos" :key="index">
        <span class="rlst">
          A diferença de idade entre {{ inf.name1 }} e {{ inf.name2 }} é de <strong>{{ inf.diff }} dias</strong>
        </span>
      </div>
    </div>
  </div>
    </div>
    
</template>

<script>
export default {
  name: 'HelloWorld',
  data() {
    return {
      infos: [],
      name1: '',
      idade1: '',
      name2: '',
      idade2: '',
    };
  },
  methods: {
    diffage() {
      if (this.idade1 && this.idade2) {
        const dataInicio = new Date(this.idade1);
        const dataFim = new Date(this.idade2);
        const tempoInicio = dataInicio.getTime();
        const tempoFim = dataFim.getTime();
        const diferencaTempo = Math.abs(tempoFim - tempoInicio);
        const milissegundosPorDia = 1000 * 60 * 60 * 24;
        const diferencaDias = Math.ceil(diferencaTempo / milissegundosPorDia);

        this.infos.push({
          name1: this.name1,
          name2: this.name2,
          idade1: this.idade1,
          idade2: this.idade2,
          diff: diferencaDias,
        });

        // Reset input fields
        this.name1  = '' ;
        this.idade1 = '' ;
        this.name2  = '' ;
        this.idade2 = '' ;
      }else {
        alert('Por favor, preencha ambas as datas.');
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped> 

</style>

